<h1>This is a github ranking app</h1>

<p>
    Available users are:
</p>
<ul>
    <li *ngFor="let user of availableUsers" (click)="updateUser(user.login)">{{user.login}}</li>
</ul>
<form name="settings">
    <label htmlFor="username">root username 
        <input type="text" 
            placeholder="here" 
            name="username"
            [(ngModel)]="username" />
    </label>

    <label htmlFor="level">
        level
        <input type="text"
            name="level"
            default="1"
            [(ngModel)]="reportLevel" 
            value="1" />
    </label>
</form>

<br />
<br />

<app-report 
    [rootUsername]="username"
    [reportLevel]="reportLevel"
></app-report>
<br />

